<p id="notice"><%= notice %></p>
 

<center><h1>Mieszkania do wynajęcia</h1></center>

<% @ads.each do |ad| %>
 <div class="col-md-2">
  <%= image_tag ad.image , class:"img-responsive"  %>
  </div>

  <div class="col-md-10">
   <div class="col-md-12">
    <% if admin_signed_in? %>
     <%= link_to "Edytuj", "/ads/#{ad.id}/edit", class: 'btn btn-info btn-xs' %>
     <%= link_to "Kasuj", "/ads/#{ad.id}", class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure'} %>
     <% end %>
    <h4><%= link_to ad.title, ad %></h4>
   </div>
   <div class="col-md-6">
    <strong>Addres: </strong><%= ad.address %>, <%= ad.city %>
    
   </div>
   <div class="col-md-6">
   <strong>Price:</strong><%= ad.price %>
  </div>
</div>
  <div class="col-md-12">
   <hr>

  </div>
<% end %>
<br>
<% if admin_signed_in? %>
<hr>
<%= link_to "Nowe ogłoszenie" , '/ads/new', class: 'btn btn-succes ' %>
  
   
  <% end %>

